<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration"
             type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             requirePermission="true" />
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Neovolve.Switch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Neovolve.Switch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Neovolve.Switch.Properties.Settings>
      <setting name="OnTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="CurrentColor" serializeAs="String">
        <value>#FFFFFF</value>
      </setting>
      <setting name="CurrentSkinPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Scale" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>Switch</value>
      </setting>
      <setting name="UpdatePackageType" serializeAs="String">
        <value>Release</value>
      </setting>
      <setting name="UpdateFrequency" serializeAs="String">
        <value>OnStart</value>
      </setting>
      <setting name="LastChecked" serializeAs="String">
        <value>2011-01-01</value>
      </setting>
      <setting name="AutoUpdatesEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </Neovolve.Switch.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>

  <loggingConfiguration name=""
                        tracingEnabled="true"
                        defaultCategory="General">
    <listeners>
      <add name="Event Log Listener"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           source="Application"
           formatter="Text Formatter"
           log="Application"
           machineName="."
           traceOutputOptions="None" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
           name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All"
           name="General">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </add>
      <add switchValue="All"
           name="Exception">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All"
                 name="All Events" />
      <notProcessed switchValue="All"
                    name="Unprocessed Category" />
      <errors switchValue="All"
              name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <unity configSource="Unity.config"/>
  <applicationSettings>
    <Neovolve.Switch.Properties.Settings>
      <setting name="VersionCatalogAddress" serializeAs="String">
        <value>https://switch.svn.codeplex.com/svn/Releases/VersionCatalog.xml</value>
      </setting>
    </Neovolve.Switch.Properties.Settings>
  </applicationSettings>
</configuration>
