<?xml version="1.0"?>
<unity>

  <sectionExtension type="Neovolve.Toolkit.Unity.SectionExtensionInitiator, Neovolve.Toolkit.Unity" />

  <aliases>

    <!-- Lifetime manager types -->
    
  </aliases>

  <containers>
    <container>

      <extensions>
        <add type="Neovolve.Toolkit.Unity.DisposableStrategyExtension, Neovolve.Toolkit.Unity"/>
      </extensions>

      <types>

        <register type="Neovolve.Switch.Extensibility.ColorManagement.IColorConverter, Neovolve.Switch.Extensibility"
                  mapTo="Neovolve.Switch.Extensibility.ColorManagement.WindowsColorConverter, Neovolve.Switch.Extensibility">
          <constructor>
            <param name="scale">
              <dependency />
            </param>
          </constructor>
        </register>

        <register type="Neovolve.Switch.Extensibility.ColorManagement.IHslScale, Neovolve.Switch.Extensibility"
                  mapTo="Neovolve.Switch.Extensibility.ColorManagement.WindowsHslScale, Neovolve.Switch.Extensibility">
        </register>

        <register type="Neovolve.Switch.SkinSet, Switch">
          <constructor>
            <param name="stores">
              <array>
                <dependency name="DefaultSkinStore" />
                <dependency name="ComputerSkinStore" />
                <dependency name="UserSkinStore" />
              </array>
            </param>
          </constructor>
        </register>
        
        <register type="Neovolve.Switch.ISkinStore, Switch"
                  mapTo="Neovolve.Switch.DefaultSkinStore, Switch"
                  name="DefaultSkinStore"/>

        <register type="Neovolve.Switch.ISkinStore, Switch"
                  mapTo="Neovolve.Switch.FileSystemSkinStore, Switch"
                  name="ComputerSkinStore">
          <constructor>
            <param name="directory">
              <value value="Skins\" />
            </param>
          </constructor>
        </register>

        <register type="Neovolve.Switch.ISkinStore, Switch"
                  mapTo="Neovolve.Switch.FileSystemSkinStore, Switch"
                  name="UserSkinStore">
          <constructor>
            <param name="directory">
              <value value="%LOCALAPPDATA%\Neovolve\Switch\Skins\" />
            </param>
          </constructor>
        </register>
        
      </types>
    </container>
  </containers>
</unity>
